#bar-container {
  padding: 2% 8%;
}
#menu-desktop {
  display: flex;
}

.fa-bars {
  display: none;
}

#main-section {  
  flex-direction: row-reverse;
  justify-content: start;
  background-image: url("images/backgrounds/bg1_desktop.svg");
  background-repeat: no-repeat;
  background-position: right 20%;
  background-size: 45%;
  padding-left: 0;
}

#intro {
  padding-left: 2%;
}

#social-media-1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

#social-media-1 .link {
  padding: 0;
  margin: 9px 0;
}

/* Works Section */
#works-header {
  display: flex;
  justify-content: flex;
  align-items: center;
}

#works-header h2 {    
  text-align: initial;
  width: 100%;
}

#main-card {
  display: flex;
  align-items: flex-start;
}

.card1 img {
  margin: 0;
}

.card1 .content {
  width: 45%;
  margin-left: 5%;
}

.card1 h3 {
  margin-top: 0;
}