
#bar-container {
  padding: 2% 8%;
}

/* Animations and transition */
.logo {
  position: relative;
  animation: logo 3s ease-out 1s;
  transition: all 0.2s;
}

@keyframes logo {
  from {
    text-shadow: 0 0 15px #fff;
  }

  to {
    letter-spacing: 10px;
    text-shadow: 0 0 15px #f55800;
    transform: scale(1.5);
  }
}

.card1 img {
  margin: 0;
  transition: all 0.3s;
}

.card1:hover img {
  position: relative;

  /* transform: scale(1.1); */
}

/* ------------------------ */

#menu-desktop {
  display: flex;
}

.fa-bars {
  display: none;
}

#main-section {
  flex-direction: row-reverse;
  justify-content: start;
  background-image: url("images/backgrounds/bg1_desktop.svg");
  background-repeat: no-repeat;
  background-position: right 20%;
  background-size: 45%;
  padding-left: 0;
}

#intro {
  padding-left: 2%;
}

#social-media-1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

#social-media-1 .link {
  padding: 0;
  margin: 9px 0;
}

/* Works Section */
#works-header {
  display: flex;
  align-items: center;
}

#works-header h2 {
  text-align: initial;
  width: 100%;
}

#main-card {
  display: flex;
  align-items: flex-start;
}

.card1 .content {
  width: 45%;
  margin-left: 5%;
}

.card1 h3 {
  margin-top: 0;
}

.card {
  transition: all 0.3s;
}

.card2,
.card5 {
  background-image: url("images/cards/card2-7_mob_2&5_desk_dark.svg");
  mask-image: linear-gradient(black, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card3,
.card6 {
  background-image: url("images/cards/card_3&6_desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card4,
.card7 {
  background-image: url("images/cards/card_4&7_desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card2:hover,
.card5:hover {
  background-image: url("images/cards/card_2&5_desktop_light.svg");
}

.card3:hover,
.card6:hover {
  background-image: url("images/cards/card_3&6_desktop_light.svg");
}

.card4:hover,
.card7:hover {
  background-image: url("images/cards/card_4&7_desktop_light.svg");
}

#works-section {
  grid:
    'header header header'
    'card1 card1 card1'
    'card2 card3 card4'
    'card5 card6 card7';
}

.btn-2 {
  visibility: hidden;
}

.card:hover .btn-2 {
  visibility: visible;
}

.card:hover .content {
  visibility: hidden;
}

/* Modal Window */
.modal-header h3 {
  font-family: 'Crete Round', serif;
  font-weight: normal;
  margin-bottom: 0;
}

.modal-content {
  width: auto;
  flex-direction: initial;
  margin-left: 0;
}

#modal-img {
  margin-bottom: 0;
  align-self: flex-start;
  max-width: 60%;
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-left: 3%;
}

/* About Section */
#about-content {
  background-image: url('images/backgrounds/bg2_desktop.svg');
  background-size: 40%;
  background-position: right center;
}

#about-skills {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;

  /* padding-top: 15vw;
  padding-right: 10vw;
  padding-bottom: 15vw; */
}

.skill-group {
  display: initial;
}

.skills {
  padding-left: 0;
}

/* Contact Form */

/* Form */
#form-container {
  display: flex;
  justify-content: space-between;
}

#form-header {
  text-align: initial;
  width: 40%;
}

form {
  width: 55%;
  max-width: 100%;
  margin: 0;
}

/* Contact Form */
form #form-message {
  align-self: flex-start;
}

#get-in-touch-btn {
  align-self: start;
}

#divider {
  display: none;
}
