body {
  margin: 0;
  height: 150vh;
}

#bar-container {
  background-color: #3C3A39;
  padding: 0 10%;
}

#bar-container,
.logo {
  color: #fff;
}

#status-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}

.time {    
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  width: 54px;
  height: 16px;
}

.fas-container .fas {
  height: 10.67px;
}

/* Bar2 Logo and Menu */
#tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.fa-bars {
  width: 18px;
  height: 12px;
  cursor: pointer;
}

/* Introduction */
#intro {
  background-color: #1C1A19;
  padding: 25vw 10%;
}

.header1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;  
  letter-spacing: 0.37px;
  color: #FF6B00;
  margin: 0;
}

.header2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFF5E1;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

/* Social Media Icons */
#social-media-links {
  list-style-type: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.link {
  padding: 0 3%;
  color: #DBD8D7;
}

.link img {
  width: 21px;
  height: 21px;
}