body {
  margin: 0;
  height: 150vh;
}

#bar-container {
  background-color: #3c3a39;
  padding: 3% 8%;
}

#bar-container,
.logo {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.time {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  width: 54px;
  height: 16px;
}

.fas-container .fas {
  height: 10px;
}

/* Bar2 Logo and Menu */
#tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.fa-bars {
  font-size: 30px;
  cursor: pointer;
}

/* Desktop Menu */
#menu-desktop {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.4s;
}

.menu-link:hover {
  color: #F55800;
}

.menu-link:active {
  transition: all 0s;
  color: #fff;
}

#email-icon {
  cursor: pointer;
  margin-left: 15px;
  transition: all 0.4s;
}

#email-icon:hover {
  transform: scale(1.3);
}

#email-icon:active {
  transform: scale(1);
}


/* Introduction */
#main-section {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url("images/backgrounds/bg1_mobile.svg");
  background-repeat: no-repeat;
  background-size: 26%;
  background-position: 100% 100%;
  
  /* background-size: 35%; */
  /* background-position: 100% 115%; */
  
  padding: 20vw 8%;
}

.header1-format {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#intro-header1 {
  font-size: 56px;
  line-height: 64px;
  margin: 0;
}

.intro-header2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.p-format {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.description {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  max-width: 520px;
}

/* Social Media Icons */
.social-media-links {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.link {
  padding: 0 3%;
  color: #dbd8d7;
}

.link img {
  width: 21px;
  height: 21px;
  transition: all 0.2s;
}

.card1 img {
  display: block;
  max-width: 600px;
  min-width: 100px;
  width: 100%;
  margin: 0 auto;
}

.link a:link img {
  filter: none;
}

.link a:visited img {
  filter: invert(60%);
}

.link a:hover img {
  filter: contrast(200%) brightness(150%);
  transform: scale(1.4);
}

.link a:active img {
  filter: saturate(100);
}

/* Works Section */
#works-section {
  display: grid;
  grid: 'header' 'card1' 'card2' 'card3' 'card4' 'card5' 'card6' 'card7';
  grid-gap: 5vw;
  padding: 15vw 8vw;
}

#works-header h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #1c1a19;
}

#header-line {
  border-top: 1px solid #212121;
  width: 100%;
}

/* Cards */
.tag-group {
  display: flex;
  flex-wrap: wrap;
}

.card1 h3,
.card1 p,
.card1 .tag-group {
  color: #091e42;
}

.content h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 22px 0;
}

.content p {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.tag {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  margin: 8px 12px 8px 0;
}

.card1 .tag {
  border: 1px solid #8993a4;
}

.main-btn {
  padding: 10px;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  color: #fff;
  transition: all 0.2s;
}

.btn:visited {
  color: #5b5957;
  background-color: #f4f1f0;
  border: 1px solid #f4f1f0;
}

.btn:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.btn:active {
  color: #f4f1f0;
  background-color: #e05304;
  border: 1px solid #e05304;
  transition: all 0s;
}

/* Cars2 */
.card {
  background-image: url("images/cards/card2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .content {
  padding: 35% 10px 10px 10px;
}

.card h3,
.card p,
.card .tag-group {
  color: #fff;
}

.card .tag-group .tag {
  background: rgba(255, 255, 255, 0.24);
}

.btn-2 {
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Grid Areas */
#works-header { grid-area: header; }
.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.card7 { grid-area: card7; }

/* About Me */

/* Block 1 */
#about-me-section {
  background-color: #1c1a19;

  /* padding: 25vw 10% 0 10%; */
}

#about-content {
  background-image: url('images/backgrounds/bg2_mobile.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 20vw 8% 0 8%;
}

.about-header {
  font-size: 72px;
  line-height: 88px;
  margin: 0;
}

.about-p {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  max-width: 530px;
}

#get-resume-btn {
  padding: 10px;
}

.about-line {
  padding-top: 200px;
  border-bottom: 1px solid #fff;
}

/* Block 2 */
#about-skills {
  text-align: center;
  color: #fff;
  padding: 15vw 8%;
}

#about-skills li {
  margin-bottom: 32px;
}

.header2-format {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.skill-group {
  padding-top: 32px;
}

.skill-header {
  display: inline-block;
  padding-bottom: 40px;
}

.list-icon {
  display: inline-block;
  background-color: #ff6b00;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  transition: all 0.2s ease-out;
}

#diamond-icon {
  transform: rotate(45deg);
}

.skill-header:hover .list-icon,
.skill-header:hover #diamond-icon {
  transform: rotate(180deg);
}

#circle-icon {
  border-radius: 50%;
}

.skill-header:hover #circle-icon {
  transform: scale(1.4);
}

.skills {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
}

/* Contact Form */
footer {
  display: flex;
  flex-direction: column;
}

#form-container {
  padding: 20vw 8%;
}

#form-header {
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 15px;
}

form input,
form textarea,
#get-in-touch-btn {
  margin-top: 24px;
}

form input {
  color: #172b4d;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

form input::placeholder {
  color: #979493;
}

form input:focus {
  background-color: #9eb8e454;
  outline: none;
  border: none;
  border-bottom: 3px solid #000;
}

#first-last-name {
  display: none;
}

form textarea {
  background-color: #fbf8f7;
  width: auto;
  border: none;
  resize: vertical;
}

form textarea::placeholder {
  color: #3c3a39;
}

#get-in-touch-btn {
  padding: 10px;
  align-self: center;
}

#social-media-2 {
  justify-content: center;
  padding: 8vw 0;
  border-top: 1px solid #dfe1e6;
}

#divider {
  align-self: center;
  width: 35%;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 0 0 3% 0;
}

/* Media Queries */
@media (min-width: 580px) {
  .skill-group {
    display: flex;
    justify-content: center;
  }

  .skills {
    text-align: initial;
    padding-left: 8%;
  }
}

@media (min-width: 700px) {
  #works-section {
    grid:
      'header header'
      'card1 card1'
      'card2 card3'
      'card4 card5'
      'card6 card7';
  }
}

@media (min-width: 870px) {
  #works-section {
    grid:
      'header header header'
      'card1 card1 card1'
      'card2 card3 card4'
      'card5 card6 card7';
  }

  .crd1,
  .card {
    display: flex;
    flex-direction: column;
  }

  /* About Me */
  #about-skills {
    display: flex;
    justify-content: space-between;
    /* padding-top: 15vw;
    padding-right: 10vw;
    padding-bottom: 15vw; */
  }

  .skill-group {
    display: initial;
  }

  /* Form */
  #form-container {
    padding: 10%;
    display: flex;
  }

  #form-header {
    width: 40%;
  }

  form {
    width: 60%;
  }

  .mobile {
    display: none;
  }

  #first-last-name {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: none;
  }

  #divider {
    display: none;
  }
}
